@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --foreground: #ffffff;
  --foreground-secondary: #d4d4d4;
  --primary: #fff200;
  --secondary: #ffb800;
  --red: #ff2626;
}

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --foreground-secondary: #2b2b2b;
  --primary: #ffb800;
  --secondary: #fff200;
  --red: #ff2626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clipPath-Button {
  cursor: pointer;
  clip-path: polygon(
    7% 50%,
    7% 60%,
    0 60%,
    0 75%,
    15% 100%,
    100% 100%,
    100% 60%,
    93% 60%,
    93% 50%,
    100% 50%,
    100% 0,
    0 0,
    0 50%
  );
}

.clipPath-Button-Simple {
  cursor: pointer;
  clip-path: polygon(15% 100%, 100% 100%, 100% 0, 0 0, 0 75%);
}
