@import "tailwindcss";

:root {
  --black: #0c0c0c;
  --background: #0c0c0c;
  --background-secondary: #2b2b2b;
  --foreground: #ffffff;
  --foreground-secondary: #d4d4d4;
  --primary: #fff200;
  --secondary: #ffb800;
  --red: #ff2626;
  --accentuation: var(--primary);
  --accentuation-inverse: var(--background-secondary);
}

:root[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #d4d4d4;
  --foreground: #000000;
  --foreground-secondary: #2b2b2b;
  --accentuation: var(--foreground-secondary);
  --accentuation-inverse: var(--primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clipPath-Button {
  cursor: pointer;
  clip-path: polygon(
    7% 50%,
    7% 60%,
    0 60%,
    0 75%,
    15% 100%,
    100% 100%,
    100% 60%,
    93% 60%,
    93% 50%,
    100% 50%,
    100% 0,
    0 0,
    0 50%
  );
}

.clipPath-Button-Simple {
  cursor: pointer;
  clip-path: polygon(15% 100%, 100% 100%, 100% 0, 0 0, 0 75%);
}

.clipPath-Button-Double {
  clip-path: polygon(15% 100%, 100% 100%, 100% 25%, 85% 0, 0 0, 0 75%);
}

.clipPath-Transition-1 {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 75%);
}

.clipPath-Transition-2 {
  clip-path: polygon(100% 25%, 100% 100%, 0% 100%);
}

@keyframes flux {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }
  25% {
    opacity: 1;
    transform: translateX(1200%);
  }
  26%,
  100% {
    opacity: 0;
    transform: translateX(1200%);
  }
}

.animation-flux {
  animation: flux 4s linear infinite;
}
